@{
    ViewData["Title"] = "";
}

<div class="text-start">
    <h2>Welcome</h2>
    <p>Learn about our <a class="text-dark" asp-area="" asp-controller="Home" asp-action="App">Avoral Traders App</a></p>
</div>
